form{
}

form input{
    padding: .5em;
    width: 50vw;
    margin-bottom: 32px;
    border-radius: 64px;
    outline: none;
}

button{
    background-color: rgba(123,213,213,.3);
    padding: .5em;
    width: 128px;
    border-radius: 64px;
    cursor: pointer;
}

button:hover{
    background-color: rgba(123,213,213,.9);
}