.robo-list {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, 15rem);
  justify-content: space-between;
}

@media screen and (max-width: 48rem) {
  .robo-list {
    justify-content: space-around;
  }
}
