.robo-card {
  background-color: #9eebcf;
  border-radius: .5rem;
  padding: .5rem;
  text-align: center;
  transition: transform .25s ease-out;
}

.robo-card:hover {
  transform: scale(1.05);
}

.robo-card>img {
  max-width: 100%;
}
